@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #fff;
  border: none;
}

body {
  padding-top: 1vw;
  background-color: #000;
  max-width: 100%;
  margin: 0;
}

a.Voltar:hover {
  color: #00c5ff;
  position: relative;
}
h2 {
  font-family: "corporate_aregular";
  font-size: 1.3rem; /* Tamanho relativo */
  margin: -1.6rem;
  color: #fff;
  padding-left: 32rem;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.1rem; /* Tamanho de fonte menor para telas pequenas */
    margin: -1.2rem; /* Ajustar a margem para evitar sobreposição */
    padding-left: 9.5rem; /* Reduzir o preenchimento esquerdo para evitar o desbordamento de texto */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  h2 {
    font-size: 1.2rem; /* Tamanho de fonte intermediário para telas médias */
    margin: -1.4rem; /* Ajustar a margem */
    padding-left: 22rem; /* Ajustar o preenchimento esquerdo */
  }
}

.mbestrela {
  width: 5rem;
  max-width: 20rem;
  min-width: 0.1rem;
  margin-left: 21em;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .mbestrela {
    width: 3rem; /* Tamanho menor para telas pequenas */
    margin-left: 2rem; /* Ajustar a margem esquerda para evitar o desbordamento de texto */
    margin-top: 0.5rem; /* Ajustar a margem superior para evitar sobreposição */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .mbestrela {
    width: 4rem; /* Tamanho intermediário para telas médias */
    margin-left: 11rem; /* Ajustar a margem esquerda */
    margin-top: 0.8rem; /* Ajustar a margem superior */
  }
}

a.Voltar {
  font-family: "corporatesdemi";
  font-size: 1.1em; /* Tamanho relativo */
  font-weight: bold;
  text-decoration: underline;
  padding-left: 19.5em;
  color: #fff;
}

@media (max-width: 600px) {
  a.Voltar {
    font-size: 1em; /* Tamanho de fonte menor para telas pequenas */
    padding-left: 1.7em; /* Reduzir o preenchimento esquerdo para evitar o desbordamento de texto */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  a.Voltar {
    font-size: 1.05em; /* Tamanho de fonte intermediário para telas médias */
    padding-left: 10.5em; /* Ajustar o preenchimento esquerdo */
  }
}


li {
  list-style-type: none;
  margin-top: 3em;
}
@media (max-width: 600px) {
  .li {
   
    margin-top: 10em; /* Aumentar a margem superior para evitar sobreposição */
    
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.li {
    
    margin-top: 10em; /* Ajustar a margem superior */
    
  }
}

.divisao {
  background: linear-gradient(to right, #1d1d1d, #000);
  margin: 12px;
  padding: 0.01pt;
}

p.titulodireitos {
  color: #fff;
  font-size: 2.5em; /* Tamanho relativo */
  font-family: "corporate_aregular";
  margin-top: 2%;
  padding-left: 3em;
  white-space: nowrap;
}

@media (max-width: 600px) {
  p.titulodireitos {
    font-size: 2em; /* Tamanho de fonte menor para telas pequenas */
    margin-top: 3%; /* Aumentar a margem superior para evitar sobreposição */
    padding-left: 3em; /* Reduzir o preenchimento esquerdo para evitar o desbordamento de texto */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.titulodireitos {
    font-size: 2.2em; /* Tamanho de fonte intermediário para telas médias */
    margin-top: 0%; /* Ajustar a margem superior */
    padding-left: 10em; /* Ajustar o preenchimento esquerdo */
  }
}
p.textodireitos {
  color: #fff;
  font-size: 1.3em; /* Tamanho relativo */
  font-family: "corporate_aregular";
  margin-top: 2%; /* Adicionado */
  text-align: left;
  padding-left: 10%;
}

@media (max-width: 600px) {
  p.textodireitos {
    font-size: 1em; /* Tamanho de fonte maior para telas pequenas */
    margin: 10%; /* Aumentar a margem para evitar sobreposição */
    margin-left: -1em; /* Reduzir o preenchimento esquerdo para evitar o desbordamento de texto */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.textodireitos {
    font-size: 1.3em; /* Tamanho de fonte intermediário para telas médias */
    margin: 9%; /* Ajustar a margem */
    padding-left: 8%; /* Ajustar o preenchimento esquerdo */
  }
}

p.marcas {
  color: #fff;
  font-size: 2.5em; /* Tamanho relativo */
  font-family: "corporate_aregular";
  margin-top: 2%;
  padding-left: 16em ;
  white-space: nowrap;
}

@media (max-width: 600px) {
  p.marcas {
    font-size: 2em; /* Tamanho de fonte menor para telas pequenas */
    margin-top: 10%; /* Aumentar a margem superior para evitar sobreposição */
    padding-left: 2.3em; /* Reduzir o preenchimento esquerdo para evitar o desbordamento de texto */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.marcas {
    font-size: 2.2em; /* Tamanho de fonte intermediário para telas médias */
    margin-top: 10%; /* Ajustar a margem superior */
    padding-left: 10em; /* Ajustar o preenchimento esquerdo */
  }
}

p.textomarcas {
  color: #fff;
  font-size: 1.5em; /* Tamanho relativo */
  font-family: "corporate_aregular";
  margin-top: 2em;
  text-align: left;
  padding-left: 9%;
  width: 100%;
}

@media (max-width: 600px) {
  p.textomarcas {
    font-size: 1.2em; /* Tamanho de fonte menor para telas pequenas */
    margin-top: 2em; /* Aumentar a margem superior para evitar sobreposição */
    padding-left:1.5em; /* Reduzir o preenchimento esquerdo para evitar o desbordamento de texto */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.textomarcas {
    font-size: 1.41em; /* Tamanho de fonte intermediário para telas médias */
    margin-top: 1em; /* Ajustar a margem superior */
    padding-left: 17%; /* Ajustar o preenchimento esquerdo */
    width: 100%;
  }
}

p.empresa {
  font-family: "corporate_sregular";
  font-size: 0.7em; /* Tamanho relativo */
  padding-left: 79.7%;
  margin-top: -11em;
  white-space: nowrap;
}

@media (max-width: 600px) {
  p.empresa {
    font-size: 0.5em;
    padding-left: 15.5em;
    margin-top: 3em; /* Aumentar a margem superior para evitar sobreposição */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.empresa {
    font-size: 0.65em; /* Tamanho de fonte intermediário para telas médias */
    padding-left: 60%; /* Ajustar o preenchimento esquerdo */
    margin-top: 17%; /* Ajustar a margem superior */
  }
}

.mbestreladois {
  max-width: 20%;
  width: 1.1%;
  min-width: 0.2%;
  margin-top: 0em;
  margin-left: 79.6%;
}

@media (max-width: 600px) {
  .mbestreladois {
    width: 1.5em;
    margin-left: 7.6em;
    margin-top: 0.2em; /* Aumentar a margem superior para evitar sobreposição */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .mbestreladois {
    width: 1%; /* Tamanho intermediário para telas médias */
    margin-left: 60%; /* Ajustar a margem esquerda */
    margin-top: 17.5%; /* Ajustar a margem superior */
  }
}

p.marca {
  font-family: "corporate_sregular";
  font-size: 0.7em; /* Tamanho relativo */
  padding-left: 80.8%;
  margin-top: -1.5em;
  white-space: nowrap;
}

@media (max-width: 600px) {
  p.marca {
    font-size: 0.5em;
    padding-left: 18.5em;
    margin-top: -1.9em;/* Aumentar a margem superior para evitar sobreposição */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p.marca {
    font-size: 0.4em; /* Tamanho de fonte intermediário para telas médias */
    padding-left: 11.3em; /* Ajustar o preenchimento esquerdo */
    margin-top: -4em; /* Ajustar a margem superior */
  }
}
